* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

$white: #ffffff;
$red: #c00200;
$light-gray: #eaeaea;
$gray: #aeaeae;
$dark-gray: #656665;
$black: #000000;
$lg: 1024px;
$md: 768px;
$sm: 480px;

html {
	font-size: 62.5%;
}
body {
	font-size: calc(1rem + 1vh);
	line-height: normal;
	color: $white;
	background: $black;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}
h1 {
	font-size: calc(1rem + 10vh);
	margin-bottom: 1vh;
}
h2 {
	font-size: calc(1rem + 6vh);
}
h3 {
	font-size: calc(1rem + 4vh);
}
h4 {
	font-size: calc(1rem + 3vh);
	margin-bottom: 5vh;
}
p, span, blockquote {
	margin-bottom: 5vh;
	line-height: calc(1rem + 3vh);
}
a:link,
a:visited {
	text-decoration: none;
}
li {
	list-style: none;
}
.has-before {
	&:before {
		content: '';
		position: absolute;
	}
}
.has-after {
	&:after {
		content: '';
		position: absolute;
	}
}
.has-both {
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}
.container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	padding: 0 33px;
	margin: 0 auto;
}
main {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.section {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 5vh calc(15vw + 11vh + 30px) 5vh 5vw;
	overflow: auto;
	transform: translate3d(0, 100%, 0);
	&.active {
		transform: translate3d(0, 0, 0);
		z-index: 1;
		background: $black;
	}
	&.home {
	}
	&.professional {
	}
	&.personal {
	}
	&.passive {
		z-index: 0;
		.page-content {
			opacity: 0;
			transition: .5s ease-out;
		}
	}
	@media (max-width: $lg) {
		padding: 90px 5vw 5vh 5vw;
	}
}
.loading-line {
	position: fixed;
	top: 0;
	left: 0;
	height: 1vh;
	width: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background: $red;
	z-index: 30;
	&.active {
		animation: 1s loadingTime linear;
	}
}
@keyframes loadingTime {
	0% {width: 0;}
	33% {width: 33%;}
	66% {width: 66;}
	100% {width: 130%;}
}
.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	right: -1px;
	top: 0;
	z-index: 49;
	li {
		position: relative;
		width: calc(15vw + 1px);
		height: 20%;
		cursor: pointer;
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		a {
			position: relative;
			overflow-x: hidden;
			padding: 5px 10px;
			font-size: calc(1rem + 1.5vh);
			margin: 0;
			color: $white;
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translateY(-50%);
			@media (max-width: 1240px) {
				font-size: calc(1rem + 1vh);
			}
			@media (max-width: $lg) {
				font-size: calc(1rem + 2vh);
				font-weight: 600;
			}
			&:before {
				content: '';
				position: absolute;
				top: calc(100% - .5vh);
				left: 0;
				width: 0;
				height: .5vh;
				background: $white;
			}
			&:focus {
				outline-color: transparent;
				&:before {
					animation: .5s speedLine ease-out;
				}
			}
		}
		&:hover a:before {
			animation: .5s speedLine ease-out;
		}
		&.active {
			a {
				color: $red;
				left: 20%;
				&:before {
					animation: none;
				}
			}
		}
		@media (max-width: $lg) {
			width: calc(20vw + 1px);
		}
	}
	&.active {
		li {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	@media (max-width: $lg) {
		width: 100%;
		background: $black;
		transform: translate3d(0, -100%, 0);
		right: 0;
		li {
			width: 100%;

		}
		&.expand {
			transform: translate3d(0, 0, 0);
		}
	}
}
@keyframes speedLine {
	0% {width: 0;}
	33% {width: 33%;}
	66% {width: 66%; left: 10%;}
	100% {width: 33%; left: 100%;}
}
@for $i from 1 to 7 {
	.nav li:nth-child(#{$i}) {
		transition-delay: 0.2s * $i;
	}
}
.page-content {
	position: relative;
	height: auto;
	width: 100%;
	z-index: 2;
	padding-bottom: 50px;
}
.tha-machine {
	position: absolute;
	right: calc(15vw + 20px);
	height: 100vh;
	width: 11vh;
	z-index: 100;
	opacity: 0;
	transform: translate3d(100px, 0, 0);
	transition: 1s cubic-bezier(0,1.2,.88,1.01);
	&.active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	@media (max-width: $lg) {
		display: none;
	}
}
.wheel {
	position: absolute;
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	z-index: 2;
	transform: rotate(191.66deg);
	&:before {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		height: 45%; width: 45%;
		border: 1px solid $white;
	}
	.part {
		position: absolute;
		height: 20%;
		width: 50%;
		top: 50%;
		transform-origin: left center;
		&:before, &:after {
			content: '';
			position: absolute;
			height: 100%;
		}
		&:before {
			width: 24%;
			right: 0;
			top: -16%;
			border-top: 1px solid $white;
			border-right: 1px solid $white;
			transform: skewY(20deg);
		}
		&:after {
			width: 27%;
			right: 0;
			bottom: -17%;
			border-bottom: 1px solid $white;
			transform: skewY(-20deg);
		}
	}
	&.bottom {
		bottom: 2vh;
	}
	&.top {
		top: 2vh;
	}
}
@for $i from 1 to 9 {
	.wheel .part:nth-child(#{$i}) {
		transform: translate(100%, -50%) rotate($i * 45deg);
	}
}
.link {
	position: absolute;
	height: 1.5vh;
	width: 4.5vh;
	z-index: 3;
	&:before, &:after {
		content: '';
		position: absolute;
		height: 150%;
		width: 50%;
		top: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&:before {
		left: 12.5%;
		border-top: 1px solid $white;
		border-left: 1px solid $white;
	}
	&:after {
		left: 87.5%;
		border-bottom: 1px solid $white;
		border-right: 1px solid $white;
	}
	.part {
		position: absolute;
		width: 50%;
		left: 25%;
		height: 50%;
		border-radius: 50%;
		&:nth-child(1) {
			top: -50%;
			border-bottom: 1px solid $white;
		}
		&:nth-child(2) {
			bottom: -50%;
			border-top: 1px solid $white;
		}
	}
	&:nth-child(even) {
		&:before, &:after {
			height: 5%;
			width: 5%;
			border: 1px solid $white;
		}
	}
}
.links {
	position: absolute;
	height: 2.5vh;
	width: 88vh;
	top: 3.5vh;
	left: -.8vh;
	z-index: 5;
	overflow: hidden;
	display: flex;
	align-items: center;
	&.group-left {
		transform-origin: left bottom;
		transform: rotate(90deg);
	}
	&.group-right {
		top: unset;
		bottom: 3.5vh;
		left: 8.1vh;
		transform: rotate(-90deg);
		transform-origin: left top;
	}
	.links-container {
		display: flex;
		position: absolute;
		left: 0;
	}
}
.anchor-pointer {
	z-index: 5;
	top: calc(8.333vh - 1.25vh);
	left: 100%;
	position: absolute;
	height: 2.5vh;
	width: 5vh;
	&:before, &:after {
		content: '';
		position: absolute;
		transform: rotate(-20deg);
		top: 50%;
		left: 0;
		width: 100%;
		transform-origin: left center;
		height: 1px;
		background: $white;
	}
	&:after {
		transform: rotate(20deg);
	}
	.inner-pointer {
		position: absolute;
		height: 100%;
		width: 50%;
		right: -20%;
		border-top: 1px solid $white;
		border-right: 1px solid $white;
		transform-origin: center;
		transform: rotate(45deg);
	}
}
.links-container .link {
	position: relative;
	margin: 0 -.6vh;
}
.spinning-wheel {
	position: absolute;
	height: 6vh;
	width: 12vh;
	overflow: hidden;
	z-index: 5;
	.wheel {
		position: absolute;
		height: 10vh;
		width: 10vh;
		top: 1vh;
		left: 1vh;
		border-radius: 50%;
		.part {
			&:before, &:after {
				display: none;
			}
			&:nth-child(even) {
				.link {
					&:before, &:after {
						height: 5%;
						width: 5%;
						border: 1px solid $white;
					}
				}
			}
		}
	}
	.link {
		right: 0;
		top: 50%;
		transform: translate(35%, -50%) rotate(90deg);
		.part {
			transform: none;
			&:before, &:after {
				display: none;
			}
			&:nth-child(2) {
				top: 95%;
			}
		}
	}
	&.top {
		top: 1vh;
		left: -1vh;
	}
	&.bottom {
		left: -1vh;
		bottom: 1vh;
		transform: rotate(180deg);
	}
}
.homepage-showcase {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	h1 {
		position: relative;
		display: inline-block;
		-webkit-text-stroke: 1px $white;
		color: transparent;
		cursor: default;
		text-align: right;
		transform-origin: top right;
		transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: scale3d(0, 0, 1);
		&:before, &:after {
			content: attr(data-text);
			position: absolute;
			top: 0;
			left: 0;
			transform-origin: top right;
			transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&:hover {
			&:after {
				transform: scale3d(1.12, 1.12, .5);
			}
			&:before {
				transform: scale3d(1.25, 1.25, .5);
				color: $white;
			}
		}
	}
	.text-box {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 5vw;
	}
	@media (max-width: 1240px) {
		h1 {
			font-size: calc(1rem + 7vh);
		}
		.text-box {
			padding-right: 1vw;
		}
	}
	@media (max-width: $lg) {
		h1 {
			font-size: calc(1rem + 5vh);
		}
	}
}
.top-corrner-wheels {
	position: absolute;
	top: -5vh;
	left: -5vw;
	transform: translate3d(-15vw, -15vw, 0);
	.wheel {
		transition: 0s;
	}
	.wheel.big {
		transform: translate(0, 0) rotate(0deg);
	}
	.wheel.upper {
		transform: translate(90%, -25%) scale(.9) rotate(0deg);
	}
	.wheel.lower {
		transform: translate(-12%, 95%) scale(.9) rotate(0deg);
	}
	@media (max-width: $lg) {
		top: -90px;
	}
}
.logo {
	position: absolute;
	width: 55vw;
	border: 1px solid $white;
	text-align: center;
	top: 7vh;
	left: calc(-5vw + 15vh);
	opacity: 0;
	transform: rotate3d(0, 0, 1, -47deg) translateX(-50%);
	transform-origin: left;
	transition: none;
	transition: opacity .5s ease-out;
	@media (max-width: $lg) {
		width: 100vw;
		top: calc(7vh - 35px);
		transform: rotate3d(0, 0, 1, -50deg) translateX(-50%);
	}
}
.square-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	transition: none;
	z-index: 1;
	overflow: hidden;
}
.scale-container {
	width: 100vw;
	height: 100vh;
	.row {
		width: 100%;
		height: 20vh;
		display: flex;
		justify-content: space-around;
		&:nth-child(even) {
			width: 100%;
			position: relative;
			left: 0%;
		}
	}
	.scale {
		display: inline-block;
		height: 20vh;
		width: 20vh;
		border: 1px solid rgba(255,255,255,.3);
		transform: rotate(45deg);
		transition: 4s linear;
		&:hover {
			background: rgba(255,255,255,.1);
			transition: .5s ease-out;
			transform: scale(1.5) rotate(45deg);
		}
	}
}
.sc {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	perspective: 500px;
	transition: none;
	z-index: -1;
	.dot {
		position: absolute;
		left: 50%;
		top: 50%;
		transform-style: preserve-3d;
		transform: scale(.5);
	}
	.inner-dot {
		position: relative;
		transform-style: preserve-3d;
		transition: .2s ease-out;
		transform: rotateX(123.2deg) rotateY(37.2deg);
	}
	.circle {
		position: absolute;
		height: 70vh;
		width: 70vh;
		border: 0.3vh solid $white;
		opacity: 0.5;
		border-radius: 50%;
		transform: translate3d(-50%, -50%, 0);
		backface-visibility: visible;
		animation: 25s unsquare ease-out infinite;
		&.circle-1 {
		}
		&.circle-2 {
			transform: translate3d(-50%, -50%, 0) rotateX(-90deg);
		}
		&.circle-3 {
			transform: translate3d(-50%, -50%, 0) rotateY(90deg);
		}
		&.circle-4 {
			transform: translate3d(-50%, -50%, 0) rotateX(45deg);
		}
		&.circle-5 {
			transform: translate3d(-50%, -50%, 0) rotateX(-45deg);
		}
		&.circle-6 {
			transform: translate3d(-35%, -50%, 0) rotateY(90deg) scale(.95);
		}
		&.circle-7 {
			transform: translate3d(-65%, -50%, 0) rotateY(90deg) scale(.95);
		}
		&.circle-8 {
			transform: translate3d(-18%, -50%, 0) rotateY(90deg) scale(.75);
		}
		&.circle-9 {
			transform: translate3d(-82%, -50%, 0) rotateY(90deg) scale(.75);
		}
		&.circle-10 {
			transform: translate3d(-2%, -50%, 0) rotateY(90deg) scale(.3);
		}
		&.circle-11 {
			transform: translate3d(-98%, -50%, 0) rotateY(90deg) scale(.3);
		}
	}
	@media (max-width: $lg) {
		display: none;
	}
}
@keyframes unsquare {
	0% {border-radius: 50%;}
	30% {border-radius: 50%;}
	35% {border-radius: 0;}
	65% {border-radius: 0;}
	70% {border-radius: 50%;}
	100% {border-radius: 50%;}
}
.big-bad-wheel-wrap {
	position: fixed;
	height: 100vh;
	width: 40vw;
	right: 24vw;
	overflow: hidden;
	top: 0;
	z-index: -1;
	transition: .5s cubic-bezier(0,1.2,.88,1.01);
	transform: scale3d(0, 0, 1);
	transform-origin: right center;
	transition-delay: 1s;
	opacity: 0;
	.big-bad-wheel {
		position: absolute;
		height: 120vh;
		width: 120vh;
		top: -10vh;
		left: 10vw;
		border-radius: 50%;
		transform-origin: center center;
		border: 1px solid rgba(255, 255, 255, 1);
		transition: none;
		&:after {
			content: '';
			position: absolute;
			height: calc(120vh - 2px);
			width: calc(120vh - 2px);
			top: 0;
			left: 0;
			border-radius: 50%;
			background: $black;
		}
	}
	.spike {
		position: absolute;
		height: 10%;
		width: 60%;
		top: 45%;
		left: -10%;
		transform-origin: right center;
		border-top-left-radius: 30%;
		border-bottom-left-radius: 30%;
		background: $black;
		border: 1px solid rgba(255, 255, 255, 1);
	}
	.screws {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
	}
	.screw {
		position: absolute;
		display: block;
		height: 10vh;
		width: 35vh;
		transform-origin: left center;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 10vh;
			width: 10vh;
			background: black;
			border: 1px solid $white;
			border-radius: 50%;
		}
	}
	@media (max-width: $lg) {
		display: none;
	}
}
@for $spike from 1 to 19 {
	.spike:nth-child(#{$spike}) {
		transform: rotate(20deg * $spike);
	}
}
@for $screw from 1 to 6 {
	.screw:nth-child(#{$screw}) {
		transform: translate(0, -50%) rotate(72deg * $screw);
	}
}
.skills-container {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	transform-style: preserve-3d;
	transform-origin: left;
	.scrolling-area {
		position: absolute;
		height: 100%;
		margin-left: 40%;
		width: 600%;
		display: flex;
		transition: .3s ease-out;
	}
	.skill-span {
		position: absolute;
		-webkit-text-stroke: 1px $white;
		font-size: 10vh;
		top: 10%;
		margin: 0;
		color: transparent;
		line-height: normal;
		font-weight: 900;
		transform: translate3d(0, -50%, 0);
		opacity: 0;
		letter-spacing: 50px;
		transition-delay: 0s;
		transition: opacity .3s ease-out;
		&.fade {
			transition: opacity .5s ease-out;
			opacity: 1;
		}
		&.has-before, &.has-after {
			&:before, &:after {
				position: absolute;
				font-weight: 600;
				top: 105%;
				font-size: calc(1rem + 1vh);
				color: $white;
				white-space: nowrap;
			}
		}
		&.has-before {
			&:before {
				content: attr(data-before);
				left: 0;
			}
		}
		&.has-after {
			&:after {
				content: attr(data-after);
				left: 60%;
			}
		}
		&::first-letter {
			color: $white;
		}
		&:nth-child(even) {
			top: 40%;
		}
		&:nth-child(4n - 5) {
			top: 70%;
		}
	}
	.scroll-me {
		position: absolute;
		z-index: 5;
		display: block;
		padding: 10px;
		top: 85%;
		left: 50%;
		text-transform: uppercase;
		transform: translateX(-50%);
		color: $white;
		cursor: pointer;
		font-size: calc(1rem + 1vh);
		animation: 5s scroll-trigger-anim linear infinite;
		&:after, &:before {
			content: '';
			position: absolute;
			height: 2px;
			width: 58%;
			background: white;
			top: 120%;
			left: -4%;
			transform: rotate(30deg);
		}
		&:after {
			left: 46%;
			transform: rotate(-30deg);
		}
	}
	.progress-line {
		position: absolute;
		top: calc(100% - 5px);
		left: 0;
		height: 5px;
		width: 0;
		background: $white;
		z-index: 5;
		transition: none;
	}
	@media (max-width: $lg) {
		overflow: auto;
		.scrolling-area {
			height: 100%;
			width: 100%;
			margin: 0;
			flex-direction: column;
			.skill-span {
				position: relative;
				font-size: calc(1rem + 2vh);
				font-weight: 600;
				opacity: 1;
				transform: none;
				top: 0;
				left: 0;
				letter-spacing: normal;
				-webkit-text-stroke: 1px transparent;
				color: $white;
				&::first-letter {
					color: $red;
				}
				&:after {
					position: relative;
					font-size: calc(1rem + 1vh);
					top: auto;
					left: auto;
					display: block;
					margin-left: 10px;
				}
			}
		}
		.scroll-me {
			display: none;
		}
	}
}
@keyframes scroll-trigger-anim {
	0% {transform: translate3d(-50%, 0, 0);}
	20% {transform: translate3d(-50%, -10px, 0);}
	30% {transform: translate3d(-50%, 0, 0);}
	40% {transform: translate3d(-50%, -10px, 0);}
	50% {transform: translate3d(-50%, 0, 0);}
	75% {transform: translate3d(-50%, -10px, 0);}
	100% {transform: translate3d(-50%, 0, 0);}
}
@for $i from 1 to 100 {
	.skill-span:nth-child(#{$i}) {
		left: 17vw * $i;
	}
}
.slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	.inner {
		position: relative;
		width: 600%;
		height: 100%;
		left: 0;
		display: flex;
		transition: .5s ease-out;
		.slide {
			position: relative;
			height: 100%;
			flex: 1;
			display: flex;
			overflow: hidden;
			.box {
				height: 100%;
				width: 70%;
				transition: .3s ease-out;
				position: relative;
				overflow: hidden;
				&.right {
					position: absolute;
					right: -31%;
					top: 0;
					width: 30%;
					opacity: .7;
					transition: .3s ease-out;
					transition-delay: 1.2s;
					border-left: 1px solid $white;
				}
			}
			&:after, &:before {
				height: 100%;
				width: 50%;
				top: 0;
				left: 0;
				background: $black;
				border-bottom: 1px solid $white;
				transition: .3s ease-out;
				transition-delay: .5s;
				z-index: 1;
			}
			&:before {
				left: 50%;
				top: unset;
				bottom: 0;
				border-top: 1px solid $white;
				border-bottom: 1px solid transparent;
			}
			.label {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				color: $white;
				font-size: 5vh;
				z-index: 5;
				transition: .5s;
				transition-delay: 1s;
				&:first-letter {
					color: $red;
					text-decoration: underline;
					text-decoration-color: $red;
				}
			}
			&.active {
				.label {
					transform: translate(-50%, -50%) scale(1);
				}
				.box {
					&.right {
						right: 0;
					}
				}
				&:before {
					bottom: -101%;
				}
				&:after {
					top: -101%;
				}
			}
		}
	}
	.arrow {
		position: absolute;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		height: 60px;
		width: 30px;
		cursor: pointer;
		z-index: 1;
		&:after {
			height: 50px;
			width: 50px;
			border-left: 5px solid $red;
			border-top: 5px solid $red;
			transform-origin: center center;
		}
		&.left-arrow {
			left: 20px;
			&:after {
				transform: rotate(-45deg);
			}
		}
		&.right-arrow {
			right: 20px;
			&:after {
				left: -20px;
				transform: rotate(135deg);
			}
		}
	}
}
@keyframes showcase-b {
	0% { transform: scale3d(1, 1, 1); }
	50% { transform: scale3d(1.25, 1.25, .5); color: $white;}
	100% { transform: scale3d(1, 1, 1); }
}
@keyframes showcase-a {
	0% { transform: scale3d(1, 1, 1); }
	50% { transform: scale3d(1.12, 1.12, .5); }
	100% { transform: scale3d(1, 1, 1); }
}
.homepage.active {
	.logo {
		transition-delay: 1s;
		opacity: 1;
	}
	.page-content {
		height: 100%;
	}
	.top-corrner-wheels {
		transition-delay: .5s;
		transform: translate3d(0, 0, 0);
	}
	.homepage-showcase {
		h1 {
			transform: scale3d(1, 1, 1);
			&:after {
				animation: showcase-a .5s ease-out;
				
			}
			&:before {
				animation: showcase-b .5s ease-out;
			}
		}
	}
}
@for $sc from 1 to 5 {
	.homepage-showcase .text-box:nth-child(#{$sc}) h1 {
		transition-delay: 0.5s + (.2s * $sc);
	}
	.homepage-showcase .text-box:nth-child(#{$sc}) h1:before,
	.homepage-showcase .text-box:nth-child(#{$sc}) h1:after {
		animation-delay: .6 + (.3s * $sc);
	}
}
@for $fu from 1 to 30 {
	.show-up:nth-child(#{$fu}) {
		transition-delay: .2s * $fu;
	}
}
.show-up {
	opacity: 0;
	transform: translate3d(0, 5vh, 0);
}
.scroll-negator {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.professional.active,
.personal.active {
	overflow: hidden;
	.big-bad-wheel-wrap {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	.show-up {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.count {
		opacity: 0;
		transform: translate3d(0, 5vh, 0);
		&.active {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	.page-content {
		height: 100%;
		overflow-y: auto;
		width: calc(100% + 25px);
		padding-right: 25px;
	}
	p, h4, blockquote {
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 5vh;
		margin-right: 15px;
		@media (max-width: $lg) {
			text-align: right;
		}
	}
}
.about.active {
	article {
		h2 {
			margin-bottom: 5vh;
		}
		li {
			position: relative;
			margin-bottom: 5vh;
			padding-left: 5vw;
			&:before {
				content: '\2010';
				position: relative;
				display: inline;
			}
		}
	}
}
.skills.active {
	overflow: hidden;
	.page-content {
		height: 100%;
	}
}
.projects.active {
	.page-content {
		height: 100%;
	}
}

.dropdown-trigger {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 30px;
	right: 30px;
	overflow-x: hidden;
	cursor: pointer;
	transition: .5s ease-out;
	z-index: 50;
	display: none;
	&:before {
		position: absolute;
		content: '';
		height: 40px;
		width: 4px;
		top: -50px;
		left: 23px;
		border-radius: 25px;
		background: $white;
		transition: .5s ease-out;
	}
	span {
	    position: absolute;
	    width: 40px;
	    height: 4px;
	    border-radius: 25px;
	    background: $white;
	    left: 5px;
	    transition: .5s ease-out;
	    &:nth-child(1) {
			top: 10px;
	    }
	    &:nth-child(2) {
	    	top: 23px;
	    }
	    &:nth-child(3) {
	    	top: 36px;
	    }
	}
	&.active {
		transform: rotate(45deg);
		&:before {
			top: 5px;
		}
		span {
			&:nth-child(1) {
				left: -50px;
	    	}
	    	&:nth-child(3) {
	    		left: 50px;
	    	}
		}
	}
	@media (max-width: $lg) {
		display: block;
	}
}

.about.active {
	@media (max-width: $lg) {
		.page-content {
			overflow: auto;
			height: 100%;
		}
		.square-overlay {
			display: none;
		}
	}
}
